<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/30d87b48-f5b9-42f4-afd5-9441d7906967/resourceGroups/saleseeker-backend-rg/providers/Microsoft.Web/sites/saleseeker-api-dev</ResourceId>
    <ResourceGroup>saleseeker-backend-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/30d87b48-f5b9-42f4-afd5-9441d7906967/resourceGroups/saleseeker-backend-rg/providers/Microsoft.ApiManagement/service/saleseeker-api-man/apis/saleseekerapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://saleseeker-api-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e9e47459-fd46-4bbc-a017-855dbcb1579c</ProjectGuid>
    <MSDeployServiceURL>saleseeker-api-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>saleseeker-api-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$saleseeker-api-dev</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>